{% extends 'layout/base.html.twig' %}

{% block title "New Pin" %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto mt-4">
        <h1>Créez un nouveau Pin</h1>
        {{include('pins/_form.html.twig', {'submitButtonText': 'Valider'})}}
    </div>
</div>
{% endblock %}