{% extends 'base.html.twig' %}

{% block title "New Pin" %}

{% block body %}
    <h1>Create Pin</h1>
    {{ form_start(monFormulaire) }}
        {{ form_widget(monFormulaire) }}
        <input class="btn btn-primary" class="btn btn-outline-success" type="submit" value="Submit">
    {{ form_end(monFormulaire) }}
{% endblock %}