{% extends 'layout/base.html.twig' %}

{% block title "Editer votre pin #" ~ pin.id %}

{% block body %}
    <h1>Editez votre Pin #{{pin.id}}</h1>
    {{ include('pins/_form.html.twig', {'submitButtonText': 'Valider l\'édition'}) }}
{% endblock %}