<footer class="footer text-center mt-auto py-3">
  <div class="container">
    <small>
        &copy; {{'now'|date('Y')}} &middot;
        Made with <span class="text-danger">&hearts;</span> by <a href="https://www.linkedin.com/in/cyrilrufin/">Me</a>
    </small>
  </div>
</footer>