@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'shared/_variables';
@import "~bootstrap/scss/bootstrap";


body {
    background-color: lightgray;
}

html, body {
    font-family: $font , sans-serif;
}

.vich-image .form-check {
    margin-top:20px
}

.vich-image img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
}
