{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
    <p>Vous avez dû faire une erreur. Vérifiez votre requête, ou retournez <a href="{{path('home')}}">sur la page d'accueil</a></p>
{% endblock %}



